
/* `Topper + Header (who called it a topper in old version? lol)
----------------------------------------------------------------------------------------------------*/

header { 
	height: 8px;
	width: 100%;
	background: #63bc46;
	position: relative;
}
